/* * {
  box-sizing: border-box;
} */

/* body {
  background-color: #ffffff;
} */

/* Styles for Mobile devices */
.gallery {
  margin: 50px auto;
  padding: 0;
  width: 360px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  list-style-type: none;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .gallery {
    width: calc((360px * 2) + 24px);
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .gallery {
    width: calc((360px * 3) + 24px * 2);
  }
}

.gallery-item {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 200px;
}

.gallery-link {
  text-decoration: none;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-image:hover {
  /* Встановлюємо вигляд курсора - файл користувача */
  cursor: url('../img/hand-down.png'), pointer;
}
